<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Book Translator</h1>
        <nav>
            {% if loggedin == "0" %}
            <p class="login_signup"><a href="/login">Login</a> / <a href="/signup">Signup</a></p>
            {% else %}
            <p><a href="/order">Order translation service</a></p>
            <p class="login_signup"><a href="/logout">Logout</a></p>
            {% endif %}
        </nav>
    </header>

    <div class="content">
        <h2>Translate your book</h2>
        <p>Order our translation service to get your book translated to any of our 10 avaliable languages</p>
        <p>Our translators are professionals and will make sure your book is translated with the best quality</p>
        <p>All for the low price of 0.77 NOK per word</p>

    </div>
</body>
</html>